<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USERS </title>
</head>
<body>
    {% if users %}
        <h1>Here are your users</h1>
        <ol>
        {% for user in users%}
            <li>User info</li>
            <ul>
                <li>FIRST NAME : {{user.first_name}}</li>
                <li>LAST NAME : {{user.last_name}}</li>
                <li>EMAIL : {{user.email}}</li>
            </ul>
        {% endfor %}
        </ol>
    {% else %}
        <h2>NO USERS INPUTTED IN DATABASE </h2>
    {% endif %}
</body>
</html>